<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title and page.title != site.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>
    {% seo %}
    {% include head-custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <div class="page-wrap">
      <header class="site-header">
        <div class="site-brand">
          <a href="{{ '/' | relative_url }}">Andrea Vilchez</a>
        </div>

        <nav class="site-nav">
          {% for item in site.data.navigation.main %}
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endfor %}
        </nav>
      </header>

      <main class="page-content">
        {{ content }}
      </main>
    </div>
  </body>
</html>
